* { box-sizing: border-box; }

#scenario {
  width: 100%;
  height: 900px;
  overflow-x: hidden;
  background: gray;
  border: thin solid black;
  scroll-behavior: smooth;

  position: relative;
}

#player {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: yellow;
}

#ball {
  position: absolute;
  width: 100%;
  height: 900;
}
